<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[atempt1]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[dope]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/Atempt1" email="tracy.butcher@s.seviersd.org">
        tracy.butcher
    </author>

</widget>
